
.main{
    /*background-image: url("../public/HomePage/background-photo.jpg");*/
    background-color: darkgray;
    height: 100vh;
    position: relative;
}

.container {
    margin: 0 auto;
    max-width: 1010px;
}